<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523800561608-qt79r6mtteb2ioufbj89plsgao26sris.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523800561608-qt79r6mtteb2ioufbj89plsgao26sris</string>
	<key>API_KEY</key>
	<string>AIzaSyBeZwkAiw_JW6CwdUigKdI0Cu2XzNwmsh0</string>
	<key>GCM_SENDER_ID</key>
	<string>523800561608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Divya-Pathak.CreateMeetingProject</string>
	<key>PROJECT_ID</key>
	<string>createmeetingproject</string>
	<key>STORAGE_BUCKET</key>
	<string>createmeetingproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523800561608:ios:d0e3fc7324b655f46462fd</string>
</dict>
</plist>